*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
}

h1{
    color: #567714;
}

.container{
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 260px;
}

.articles article{
    width: 30%;
}